.row {
    margin-left: 22%;
}
.list
{
    margin-top:20px;
    border: 1px  solid grey;
    margin-left:10%;
    position: absolute;

}
.list a{
    color:black;
    display: block;
    padding:10px;
    text-decoration: none;
    font-size:15px;
    border-bottom: 1px solid grey;
}
.power{
    font-variant: bold;
    padding:10px;
    border-bottom: 1px solid grey;
    font-size:20px;
}
.list a:hover{
    text-shadow: 2px 1px greenyellow;
}
.list a:last-child{
    border-bottom: none;
}
